@{
    ViewData["Title"] = "Войти или зарегистрироваться";
}

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <partial name="Partial/_Login"/>
            </div>
            <div class="col-sm-1">
                <h2 class="or">ИЛИ</h2>
            </div>
            <div class="col-sm-4">
                <partial name="Partial/_Register"/>
            </div>
        </div>
    </div>
</section><!--/form-->
