@using WebStore_Edu.Domain.Identity
<ul class="nav navbar-nav">
    @if (User.IsInRole(Role.Administrators))
    {
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-android"></i> Админка</a></li>
    }
    <li><a asp-controller="Account" asp-action="Index"><i class="fa fa-user"></i> @User.Identity!.Name</a></li>
    <li><a href="#"><i class="fa fa-star"></i> Список желаний</a></li>
    <li><a asp-controller="Cart" asp-action="Checkout"><i class="fa fa-crosshairs"></i> Оформить заказ</a></li>
    <li>
        <a asp-controller="Cart" asp-action="Index">
            <i class="fa fa-shopping-cart"></i> Корзина
            @if (ViewBag.CartCount > 0)
            {
                <text> (Товаров: @ViewBag.CartCount)</text>
            }
        </a>
    </li>
    <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-lock"></i> Выход</a></li>
</ul>
