@model CartOrderViewModel

@{
    ViewData["Title"] = "Оформление заказа";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Оформление заказа</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="row">
            <div class="col-sm-4">
                <div class="shopper-info">
                    <p>Инфрмация о покупателе</p>
                    <partial name="Partial/_OrderCreation" model="@Model.Order"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="shopper-info">
                    <p>Детали заказа</p>
                </div>
                <table>
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Товар</td>
                            <td class="description"></td>
                            <td class="quantity">Количество</td>
                            <td class="total">Сумма</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.Cart.Items)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="~/images/cart/one.png" alt=""></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">Colorblock Scuba</a></h4>
                                    <p>Артикул: 1089772</p>
                                </td>
                                <td class="cart_price">
                                    <p>$59</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href=""> + </a>
                                        <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                        <a class="cart_quantity_down" href=""> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">$59</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
        </div>


    </div>
</section> <!--/#cart_items-->
