@model IEnumerable<string>
@{
    ViewBag.Title = "Тестирование WebAPI";
    Layout = "_LayoutContainer";
}

<table class="table">
    <thead>
    <tr>
        <th>№</th>
        <th>Значение</th>
    </tr>
    </thead>
    <tbody>
    @{
        var index = 1;
    }
    @foreach (var value in Model)
    {
        <tr>
            <td>@(index++)</td>
            <td>@value</td>
        </tr>
    }
    </tbody>
</table>
