@model IEnumerable<WebStore_Edu.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список сотрудников</title>
</head>
<body>
<h2>Список сотрудников</h2>
<table>
    <thead>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Возраст</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var empl in Model)
    {
        <tr>
            <td>@empl.LastName</td>
            <td>@empl.FirstName</td>
            <td>@empl.Patronymic</td>
            <td>@empl.Age</td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>
