<!DOCTYPE html>

<html>

<head>
    <title>Заголовок страницы браузера</title>
</head>

<body>
    <h2>Представление</h2>
    <p>Текст представления</p>
    <a href="~/Home/Employees">Список сотрудников</a>
</body>

</html>