@{
    Layout = "_LayoutContainer";
}

<div class="row">
    <div class="col-md-2">
        <aside>
            <partial name="Partial/_UserProfileMenu"/>
        </aside>
    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>
</div>
