
@{
    ViewData["Title"] = "Вход в аккаунт";
}

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <partial name="Partial/Login"/>
            </div>
        </div>
    </div>
</section><!--/form-->
