@model WebStore_Edu.Domain.ViewModels.BreadCrumbsViewModel

<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="active">Корзина</li>
    </ol>
</div>