@using WebStore_Edu.Domain.Identity
<ul class="nav navbar-nav">
    @if (User.IsInRole(Role.Administrators))
    {
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-android"></i> Админка</a></li>
    }
    <li><a asp-controller="Account" asp-action="Index" is-active-link ignore-action><i class="fa fa-user"></i> @User.Identity!.Name</a></li>
    <li><a href="#"><i class="fa fa-star"></i> Список желаний</a></li>
    <li><a asp-controller="Cart" asp-action="Checkout" is-active-link><i class="fa fa-crosshairs"></i> Оформить заказ</a></li>
    <li>
        <a asp-controller="Cart" asp-action="Index" is-active-link>
            <vc:cart/>
        </a>
    </li>
    <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-lock"></i> Выход</a></li>
</ul>
